# python day2

# lists

In [5]:
lst = [1 , 4 , 6 , 15.7 , "nd"]

In [61]:
lst.reverse()

In [62]:
lst

['despo',
 30,
 30,
 '1',
 't',
 's',
 6,
 4,
 1,
 1,
 1,
 [1, 2, 6],
 'nilaya',
 'nd',
 15.7,
 6,
 4,
 1]

In [7]:
lst.count

In [8]:
lst[-5
]

1

In [9]:
lst[2]

6

In [10]:
lst.index('nd')

4

In [11]:
lst.append("nilaya")

In [12]:
lst

[1, 4, 6, 15.7, 'nd', 'nilaya']

In [13]:
lst.append([1 ,2,6])

In [52]:
lst

[1,
 4,
 6,
 15.7,
 'nd',
 'nilaya',
 [1, 2, 6],
 1,
 1,
 1,
 4,
 6,
 'l',
 's',
 't',
 '1',
 30,
 30,
 'despo',
 ['andy', 5, 6, 8]]

In [26]:
lst

[1, 4, 6, 15.7, 'nd', 'nilaya', [1, 2, 6]]

In [32]:
lst.append(1)

lst.append(4)
lst.append(6)

In [34]:
lst

[1, 4, 6, 15.7, 'nd', 'nilaya', [1, 2, 6], 1, 1, 1, 4, 6]

In [35]:
lst.count(1)

4

In [51]:
lst

[1,
 4,
 6,
 15.7,
 'nd',
 'nilaya',
 [1, 2, 6],
 1,
 1,
 1,
 4,
 6,
 'l',
 's',
 't',
 '1',
 30,
 30,
 'despo',
 ['andy', 5, 6, 8]]

In [50]:
lst

[1,
 4,
 6,
 15.7,
 'nd',
 'nilaya',
 [1, 2, 6],
 1,
 1,
 1,
 4,
 6,
 'l',
 's',
 't',
 '1',
 30,
 30,
 'despo',
 ['andy', 5, 6, 8]]

In [43]:
lst.extend([30,"despo"])

In [44]:
lst

[1,
 4,
 6,
 15.7,
 'nd',
 'nilaya',
 [1, 2, 6],
 1,
 1,
 1,
 4,
 6,
 'l',
 's',
 't',
 '1',
 30,
 30,
 'despo']

In [46]:
lst1 = ["andy" , 5 , 6 , 8]

In [47]:
lst1

['andy', 5, 6, 8]

In [48]:
lst.extend([lst1])

In [64]:
lst.sort()

In [65]:
lst

[1,
 1,
 1,
 1,
 4,
 4,
 6,
 6,
 15.7,
 30,
 30,
 [1, 2, 6],
 '1',
 'despo',
 'nd',
 'nilaya',
 's',
 't']

In [77]:
lst.pop()

30

In [85]:
lst.reverse()

In [86]:
lst.insert(30,25)

In [87]:
lst

[25, 30, 15.7, 6, 6, 4, 1, 1, 1, 25]

In [89]:
lst

[25, 30, 15.7, 6, 6, 4, 1, 1, 1, 25]

In [90]:
lst.reverse()

In [91]:
lst

[25, 1, 1, 1, 4, 6, 6, 15.7, 30, 25]

In [92]:
lst.pop()

25

In [93]:
lst

[25, 1, 1, 1, 4, 6, 6, 15.7, 30]

In [96]:
lst1

['andy', 5, 6, 8]

In [97]:
lst.extend([lst1])

In [98]:
lst

[25, 1, 1, 1, 4, 6, 6, 15.7, 30, ['andy', 5, 6, 8]]

In [139]:
lst[:-1] = [3500]

In [140]:
lst.

[3500, 'name']

# dictionaries

In [104]:
dit = {"age" : 34544282545,
        "name" : "vvfvdvvvnd","afge" : 35420 }

In [105]:
dit

{'afge': 35420, 'age': 34544282545L, 'name': 'vvfvdvvvnd'}

In [106]:
dit.get("name")

'vvfvdvvvnd'

In [107]:
dit["name"]

'vvfvdvvvnd'

In [108]:
dit.items()

[('afge', 35420), ('age', 34544282545L), ('name', 'vvfvdvvvnd')]

In [109]:
dit.keys()

['afge', 'age', 'name']

In [110]:
dit.pop("age")

34544282545L

In [112]:
dit

{'afge': 35420, 'name': 'vvfvdvvvnd'}

In [114]:
lst.extend(dit)

In [115]:
lst

[25, 1, 1, 1, 4, 6, 6, 15.7, 30, ['andy', 5, 6, 8], 'afge', 'name']

In [118]:
dit.get("name")

'vvfvdvvvnd'

In [122]:
dit.update({"ask what" : "anything"})

In [123]:
dit

{'afge': 35420, 'ask what': 'anything', 'name': 'vvfvdvvvnd'}

In [124]:
lst.append(dit)

In [125]:
lst

[25,
 1,
 1,
 1,
 4,
 6,
 6,
 15.7,
 30,
 ['andy', 5, 6, 8],
 'afge',
 'name',
 {'afge': 35420, 'ask what': 'anything', 'name': 'vvfvdvvvnd'}]

In [126]:
lst.extend(dit)

In [127]:
lst

[25,
 1,
 1,
 1,
 4,
 6,
 6,
 15.7,
 30,
 ['andy', 5, 6, 8],
 'afge',
 'name',
 {'afge': 35420, 'ask what': 'anything', 'name': 'vvfvdvvvnd'},
 'afge',
 'ask what',
 'name']

In [144]:
d1={"age":12, "name" : "despo"}

In [165]:
dit.copy()=d1

SyntaxError: can't assign to function call (<ipython-input-165-21a3782436b0>, line 1)

In [156]:
dit=d1

In [163]:
dit.copy()

{'age': 12, 'name': 'despo'}

In [167]:
dit.copy()

{'age': 12, 'name': 'despo'}

In [168]:
dit

{'age': 12, 'name': 'despo'}

In [169]:
d2 = dit.copy()

In [170]:
d2

{'age': 12, 'name': 'despo'}

In [191]:
len(lst)

6

In [206]:
d5 =  { lst[i] : i for i in range(0 , len(lst)) }

In [205]:
lst

[5, 6, 8, 3500, 'andy', 'name']

In [207]:
d5

{5: 0, 6: 1, 8: 2, 3500: 3, 'andy': 4, 'name': 5}

In [336]:
  
for i in range(0, len(lst)):
    print (i)

0
1
2
3
4
5

In [241]:
boolean

[False]

In [315]:
a

[]

In [317]:
for i in d5.iteritems():
    a.append(i)

In [329]:
d5

{5: 0, 6: 1, 8: 2, 3500: 3, 'andy': 4, 'name': 5}

In [353]:
d5.get(4)

In [341]:
d5

{5: 0, 6: 1, 8: 2, 3500: 3, 'andy': 4, 'name': 5}

In [363]:
for i in  range(0,len(lst)) :
    if d5.has_key(i) == True:
        print(" yes given arg has a key" , d5.get(i) )
    else:
        print("no key found")

no key found
no key found
no key found
no key found
no key found
(' yes given arg has a key', 0)

In [364]:
d5.has_key(6)

True

SyntaxError: invalid syntax (<ipython-input-276-a462d0c6c54f>, line 1)

In [278]:
print(d5.iterkeys())

<dictionary-keyiterator object at 0x00000000049ABB38>

# set

In [366]:
st={"nilaya", "learn python", 1,5,4,6,8,9,7,5,2,5,6,4,4,1,2,"how",}

In [367]:
st

{1, 2, 4, 5, 6, 7, 8, 9, 'how', 'learn python', 'nilaya'}

In [368]:
lst.pop(
)

'name'

In [369]:
lst

[5, 6, 8, 3500, 'andy']

In [373]:
st1 = st.copy()

In [374]:
st.union(st1)

{1, 2, 4, 5, 6, 7, 8, 9, 'how', 'learn python', 'nilaya'}

In [378]:
st.union(lst)

{1, 2, 4, 5, 6, 7, 8, 9, 3500, 'andy', 'how', 'learn python', 'nilaya'}

In [379]:
st

{1, 2, 4, 5, 6, 7, 8, 9, 'how', 'learn python', 'nilaya'}

In [380]:
st.union(d5)

{1, 2, 4, 5, 6, 7, 8, 9, 3500, 'andy', 'how', 'learn python', 'name', 'nilaya'}

In [381]:
d5

{5: 0, 6: 1, 8: 2, 3500: 3, 'andy': 4, 'name': 5}

In [382]:
st.difference(st1)

set()

In [383]:
set()

set()

In [384]:
st

{1, 2, 4, 5, 6, 7, 8, 9, 'how', 'learn python', 'nilaya'}

In [386]:
st.add("where")

In [387]:
st

{1, 2, 4, 5, 6, 7, 8, 9, 'how', 'learn python', 'nilaya', 'where'}

# tuple

In [390]:
tp = ("apple", 5,6)

In [393]:
tp.count(5)

1

In [394]:
tp.index(6)

2

In [395]:
st.union(tp)

{1, 2, 4, 5, 6, 7, 8, 9, 'apple', 'how', 'learn python', 'nilaya', 'where'}

# string

In [397]:
x= "nilaya"

In [399]:
type(x)

str

In [400]:
type(st)

set

In [401]:
type(d5)

dict

In [403]:
x

'nilaya'

In [405]:
x.capitalize()

'Nilaya'

In [407]:
x.decode()

u'nilaya'

In [419]:
y = x+"deshpande"

In [410]:
x.decode()

u'nilaya'

In [412]:
x.capitalize()

'Nilaya'

In [439]:
x=x.upper()

In [420]:
y

'nilayadeshpande'

In [487]:
z = x.center(10)

In [496]:
p=y.encode("")

LookupError: unknown encoding: ANDY

In [491]:
p

'NILAYADESHPANDE'